<main style="display: flex; flex-direction: column; align-items: center;">
  <h1>Currency Converter</h1>
      <div *ngIf="isLoading()">Loading...</div>
  <div *ngIf="error()">{{ error() }}</div>

  <mat-form-field *ngIf="!isLoading() && currencies() && currencies()!.data" appearance="fill" style="width: 300px;">
    <mat-label>From Currency</mat-label>
    <mat-select [ngModel]="selectedCurrency()" (ngModelChange)="selectedCurrency.set($event)">
      <mat-option *ngFor="let currency of objectValues(currencies()!.data)" [value]="currency.code">
        {{currency.code}} - {{currency.name}} ({{currency.symbol}})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="!isLoading() && currencies() && currencies()!.data" appearance="fill" style="width: 300px;">
    <mat-label>To Currency</mat-label>
    <mat-select [ngModel]="toCurrency()" (ngModelChange)="toCurrency.set($event)">
      <mat-option *ngFor="let currency of objectValues(currencies()!.data)" [value]="currency.code">
        {{currency.code}} - {{currency.name}} ({{currency.symbol}})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field  appearance="fill" style="width: 300px;">
    <mat-label>Amount</mat-label>
    <input matInput type="number" [ngModel]="amount()" (ngModelChange)="amount.set($event)">
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 300px;">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [ngModel]="selectedDate()" (ngModelChange)="selectedDate.set($event)" [matDatepickerFilter]="filterPastDates">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" style="margin-top: 12px; min-width: 300px;" (click)="onConvertClick()" [disabled]="!selectedCurrency() || !amount() || !toCurrency() || !selectedDate() || converting()">
    <ng-container *ngIf="converting(); else convertText">
      <mat-spinner [diameter]="22" style="vertical-align: middle; display: inline-block;"></mat-spinner> Converting...
    </ng-container>
    <ng-template #convertText>Convert</ng-template>
  </button>

  <!-- currency result -->
  <currency-result *ngIf="convertedResult() as result" [data]="{
    amount: amount() ?? 0,
    fromCurrency: result.fromCurrency,
    toCurrency: result.toCurrency,
    convertedAmount: result.convertedAmount,
    toCurrencyRate: result.toCurrencyRate
  }"></currency-result>

  <!-- currency conversions list -->
  <currency-conversions-list></currency-conversions-list>

  <!-- <pre *ngIf="!loading() && currencies()">{{ currencies() | json }}</pre> -->
</main>
<router-outlet />
